<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
    <%- include('./partials/nav') %>
  <h1>Full Menu</h1>

  <h2>Sides</h2>

  <% menu.forEach((item, idx) => { %>
    <% if (item.category === 'sides') {%>
      <h4><%= item.name%> $<%= item.price%></h4>
      <p><%= item.details%><p>
      <li>Rated <%= item.rating%> out of 5 terabytes.</li>
      <% } %>
    <% }); %> 

  <h2>Mains</h2>

  <% menu.forEach((item, idx) => { %>
    <% if (item.category === 'mains') {%>
      <h4><%= item.name%> $<%= item.price%></h4>
      <p><%= item.details%><p>
      <li>Rated <%= item.rating%> out of 5 terabytes.</li>
      <% } %>
    <% }); %> 

  <h2>Desserts</h2>

  <% menu.forEach((item, idx) => { %>
    <% if (item.category === 'desserts') {%>
      <h4><%= item.name%> $<%= item.price%></h4>
      <p><%= item.details%><p>
      <li>Rated <%= item.rating%> out of 5 terabytes.</li>
      <% } %>
    <% }); %> 
</body>
</html>
